[project]
name = "FJFormer"
authors = [
    { name = "Erfan Zare Chavoshi", email = "Erfanzare810@gmail.com" }
]
requires-python = ">=3.8"
readme = "README.md"
version = "0.0.58"

dependencies = [
    "jax>=0.4.20",
    "jaxlib>=0.4.20",
    "numpy~=1.26.2",
    "typing~=3.7.4.3",
    "flax>=0.8.0",
    "chex>=0.1.7",
    "ipython~=8.17.2",
    "datasets~=2.14.7",
    "einops==0.8.0",
    "msgpack~=1.0.7",
    "tqdm~=4.64.1",
    "optax~=0.1.7",
    "ml_collections==0.1.1",
    "plum-dispatch==2.3.2",
    "termcolor"
]

classifiers = [
    "Development Status :: 3 - Alpha",
    "Intended Audience :: Developers",
    "Topic :: Scientific/Engineering :: Artificial Intelligence",
    "License :: OSI Approved :: Apache Software License",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
]
description = "Embark on a journey of paralleled/unparalleled computational prowess with FJFormer - an arsenal of custom Jax Flax Functions and Utils that elevate your AI endeavors to new heights!"

license = { text = "Apache-2.0" }

keywords = [
    "JAX", "Torch", "Deep Learning", "Machine Learning", "Flax", "XLA"
]

[build-system]
requires = ["setuptools>=46.4.0", "wheel>=0.34.2"]
build-backend = "setuptools.build_meta"

[tool.setuptools.packages]

find = { where = ["src"] }