[build-system]
build-backend = "setuptools.build_meta"

[tool.black]
line-length = 88
target-version = ["py37", "py38", "py39", "py310", "py311"]

[tool.isort]
line_length = 88
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
ensure_newline_before_comments = true
known_third_party = ["jax", 'jaxlib', 'flax', 'optax']

[tool.flake8]
max-line-length = 88
[tool.poetry]
# other poetry parameters...
readme = "README.md"
[tool.mypy]
ignore_missing_imports = true
warn_unused_configs = true